<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule"
        scriptProcessor="C:\Users\nichiuser\PycharmProjects\RemoveBackground\.venv\Scripts\python.exe|C:\Users\nichiuser\PycharmProjects\RemoveBackground\.venv\Lib\site-packages\wfastcgi.py"
        resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <fastCgi>
      <application fullPath="C:\Users\nichiuser\PycharmProjects\RemoveBackground\.venv\Scripts\python.exe"
        arguments="C:\Users\nichiuser\PycharmProjects\RemoveBackground\.venv\Lib\site-packages\wfastcgi.py">
        <environmentVariables>
          <environmentVariable name="WSGI_HANDLER" value="BackgroundRemover.app" />
          <environmentVariable name="PYTHONPATH" value="C:\Users\nichiuser\PycharmProjects\RemoveBackground" />
        </environmentVariables>
      </application>
    </fastCgi>
  </system.webServer>
</configuration>
